.cta {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  font-size: 24px;
  color: white;
  background: linear-gradient(to bottom, #f79d2b, #213046); 
  transition: 1s;
  box-shadow: 5px 5px 0 #213046;
  transform: skewX(-15deg);
  border: none;
  cursor:pointer;
}

.telefon {
  transition: all 0.5s ease-out;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #f79f2b78;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  .second {
  transition: 0.5s;
  margin-right: 45px;
}

.cta:hover .telefon {
  opacity:0;
}

.span {
  transform: skewX(15deg)
}

.second {
  width: 10px;
  margin-left: 15px;
  position: relative;
  top: 10%;
  margin-top:5px;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill:  #213046
  }

  100% {
    fill: white;
  }
}