* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root {
  --blue:  #213046;
  --orange: #f79d2b;
}

html,
body {
  overflow-x:hidden;
  background-color:#f4f5f9;
  scroll-behavior: smooth;
}


section {
  padding: 2% 12%;
  background-color: var(--blue);
}

p,a {
  font-size:18px;
  font-family: 'Open Sans', sans-serif;
  color:#222222;
  font-weight:400;
}

hr {
  margin: 0 auto;
  border:2px solid var(--orange);
}

h1,h2,h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
}

h1,h2 {
  font-size:48px;
}

h3 {
  font-size: 28px;
}

.shadow-title {
  font-size:112px;
}



