@media only screen and (min-width:1400px) {
  .up {
    display:none;
  }
}

@media only screen and (max-width:1700px) {
  .second-col-box {
    width:100%;
  }

  .azt-beszelik-first-col {
    width:100%;
    gap:2rem;
  }

  .azt-beszelik-container {
    flex-direction: column;
    gap:2rem;
  }

  #azt-beszelik {
    background-image: linear-gradient(to bottom, #00000084, #000000e1),url(images/ill1.webp);
  }
}
@media only screen and (max-width:1400px) {
  hr {
    display:none;
  }
}


@media only screen and (max-width:1320px) {
  .reasons-container {
    flex-direction:column;
  }
  .reason {
    width:100%;
  }

  .reason img {
    width:100%;
    height:300px;
    object-fit:cover;
    object-position:center;
  }

  .dont-risk {
    font-size:48px;
  }

  .nagyobb-munka-images img {
   display:none;
  }

  #azt-beszelik {
    background-position:left;
  }

}

@media only screen and (max-width:1220px) {
  .number-container {
    flex-direction:column;
  }

  .cards-container {
    flex-direction:column;
    width:60%;
    margin:auto;
  }

  .prev-btn {
    left: 0;
    padding:4px;
    font-size:22px;
  }
  
  .next-btn {
    right: 0;
    padding:4px;
    font-size:22px;
  }

  #soha-ne-feledje p {
    font-size:24px;
  }
}


@media only screen and (max-width:1000px) {
  #navbar img {
    width:300px;
  }

  #navbar button {
    font-size:18px;
  }

  #hero p {
    width:100%;
    font-size:20px;
  }

  h1 {
    font-size:40px;
  }

  .card {
    flex-direction:column;
  }

  .card-container {
    flex-direction: column;
  }

  .card-container h3 {
    font-size:24px;
  }
  
  .center-title h3 {
    font-size:72px;
  }

  #card-title h3 {
    font-size:32px;
  }

  #card-text p {
    font-size:18px;
  }

  #why-choose-us {
    background-size:contain;
    background-position:right;
    background-attachment: fixed;
  }

  }

@media only screen and (max-width:550px) {
  h1 {
    font-size:32px;
  }
  #hero p {
    font-size: 18px;
  }

  h3 {
    font-size:22px;
  }

  p {
    font-size:16px;
  }

  .reason p {
    padding: 0 5%;
  }

  .danger-div h2 {
    font-size:24px;
  }

  .center-title h3 {
    display:none;
  }

  #card-title h3 {
    font-size:24px;
  }

  .two-man-army-container {
    flex-direction:column;
  }

  .elerhetosegeink-second-col img {
    width:100%;
    mix-blend-mode:normal;
  }

  #soha-ne-feledje {
    background-image: linear-gradient(to bottom, #00000075, #000000), url(images/ill5.webp);
  }
}


@media only screen and (max-width:700px) {
  #navbar button {
    display:none;
  }

  .dont-risk {
    font-size:32px;
  }

  h2 {
    font-size:36px;
  }

  #navbar a {
    display:block;
    margin:auto;
  }

  #hero {
    background-position:-60%;
    background-image: linear-gradient(to bottom, #213046, #000000a2),url(images/hero-bg.webp);
  }
  
  
  #hero h1 {
    margin-top:5rem;
  }
  
  #lakastuz {
    background-image:linear-gradient(to bottom, #2130465c, #000000), url(images/mountain-fire-smaller.webp);
  }

  #responsive-btn {
    font-size:18px;
  }

  h1 {
    text-align: left;
  }

  #hero button {
    margin-bottom:10rem;
  }

  .center-title h3 {
    font-size:48px;
  }

  #otthonvedelem h2 {
    margin-bottom: -2rem;
  }

  .cta-line h3 {
    font-size:18px;
  }

  .cta-line {
    display:block;
    text-align: center;
  }

  #cta-line h3 {
    width:100%;
    margin:1rem 0;
  }

  .cta-line button {
    margin:0 auto 1rem auto;
  }

  .cards-container {
    flex-direction:column;
    width:100%;
    margin:auto;
  }
  
  .azt-beszelik-first-col {
    flex-direction:column;
  }

  .second-col-box {
    flex-direction:column;
  }

  .azt-beszelik-image-div {
    margin: 0 auto 0 0;
  }

  .azt-beszelik-name-opinion p:first-child {
    background-color:rgba(0, 0, 0, 0.481);
  }
  
  .slider-container img {
    width:100%;
  }
}
